.LoginPage{
    height: calc(100vh - 48px);
    display: flex;

    .ant-form-item{
        border: none;
    }

    .ant-card{
        border-color: transparent;
        width: 400px;
        margin: auto;
        border-radius: 20px;
    }

    .ant-card-body{
        padding: 24px 16px 16px;
    }

    .ant-input{
        font-size: 16px;
    }

    .ant-card-head{
        text-align: center;
        font-size: 24px;

        padding: 16px 16px 0 !important;
    }

    .container{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }


    @media only screen and (max-width: 700px) {
        .ant-card{
            width: 100%;
        }
    }
}