.LoginPage {
    height: calc(100vh - 48px);
    display: flex;

    .auth-btn {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        overflow: hidden;

        img {
            width: 40px;
            height: 40px;
        }
    }

    .ant-input-affix-wrapper .anticon.ant-input-password-icon {
        color: rgba(var(--pro-input-color), 0.45);
    }

    .support-link {
        /*text-align: left;*/
        width: fit-content;
        line-height: 1;
        height: auto;
        color: rgba(var(--pro-icon-color), 1);
        padding: 0;

        svg {
            margin-right: 0;
            width: 16px;
        }
    }

    .ant-form-item {
        border: none;
    }

    .ant-card-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .ant-card {
        border-color: transparent;
        width: 400px;
        border-radius: 20px;
    }

    .ant-card-body {
        padding: 24px 16px 16px;
    }

    .ant-card-head {
        text-align: center;
        font-size: 24px;

        padding: 16px 16px 0 !important;
    }

    @media only screen and (max-width: 700px) {
        .ant-card-container {
            width: 100%;
        }

        .ant-card{
            width: 100%;
        }
    }
}