:root {
    --pro-input-bg: 44, 60, 75;
    --pro-input-color: 179, 199, 219;
    --pro-icon-color: 140, 167, 190;
    --pro-divider-bg: 51, 70, 87;
    --pro-button-primary-bg: 51, 111, 238;
    --pro-text-01: 179, 199, 219;
    --pro-text-02: 166, 189, 213;
    --pro-base-02: 36, 52, 66;
    --pro-base-03: 44, 60, 75;
    --pro-base-04: 51, 70, 87;
    --pro-black: 0, 0, 0;
    --pro-elevation-shadow-2: 0 0 8px rgba(var(--pro-black), 0.24);
    --pro-widget-body-bg: 30, 44, 57;
    --pro-app-background-color: 23, 35, 46;
    --table-loss-color: 255, 117, 132;
    --table-profit-color: 44, 232, 156;
    --pro-button-primary-hover-bg: 56, 121, 242;
    --pro-non-ideal-state-color: 166, 189, 213;
    --pro-progress-track-color: transparent;
    --pro-progress-head-color: var(--pro-icon-color);
    --pro-icons-marker-1: 60, 84, 105;
    --pro-icons-marker-2: 30, 44, 57;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ticker_logo {
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*color: rgba(var(--pro-icons-marker-2),1);*/
    /*background-color: rgba(var(--pro-icons-marker-1),1);*/
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0;
}

.ticker-info {
    display: flex;
    padding: 4px 0;
    /*min-width: 320px;*/
    justify-content: space-between;
}

.collapsed-row {
    /*display: grid;*/
    /*grid-template-columns: 400px auto;*/
    gap: 8px;
}

.collapsed-row-details {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    max-height: 300px;
    padding: 4px;
}

.src-modules-Orders-containers-styles-container-7-zlx {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.src-modules-Orders-containers-styles-message-kmhek {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(var(--pro-text-01), 1);
    word-wrap: break-word;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0;
}

.src-modules-Orders-containers-styles-message-kmhek div {
    margin: 12px;
}

.pro-icon-marker {
    --pro-icon-color: var(--pro-icons-marker-1);
}

.pro-icon {
    display: inline-block;
    flex: 0 0 auto;
    vertical-align: text-bottom;
}

@media only screen and (min-width: 700px) {
    .ticker-info {
        min-width: 320px;
    }
}

.ticker-info:first-child {
    padding: 0 0 4px;
}

.ticker-info:last-child {
    padding: 4px 0 0;
}

.ticker_name {

}

.ticker_actions {
    /*line-height: 20px;*/
    /*font-weight: 500;*/
    /*color: rgba(var(--pro-input-color),1);*/
    /*font-size: 13px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    text-align: right;
}

.ticker_name_title {
    line-height: 20px;
    font-weight: 500;
    color: rgba(var(--pro-input-color), 1);
    font-size: 13px;
}

.ticker_name_description {
    color: rgba(var(--pro-icon-color), 1);
    font-size: 12px;
    line-height: 1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.widget {
    margin: 1px;
    border-radius: 4px;
    overflow: hidden;
    background-color: rgba(var(--pro-widget-body-bg), 1);
    padding: 16px;
    min-width: 300px;
    min-height: 200px;
}

.ant-skeleton .ant-skeleton-content .ant-skeleton-title {
    background-color: rgba(179, 199, 219, 0.1);
    margin-top: 0;
}

.ant-skeleton .ant-skeleton-content .ant-skeleton-paragraph > li {
    background-color: rgba(179, 199, 219, 0.1);
}

.ant-skeleton .ant-skeleton-content .ant-skeleton-paragraph {
    margin-bottom: 0;
}

.ant-skeleton .ant-skeleton-content .ant-skeleton-paragraph:first-child {
    margin-top: 0;
}

.double-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .ant-divider.ant-divider-horizontal {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .widget {
        width: 100%;
    }

    .body-content{
        padding: 0 !important;
    }

    .Diary{
        padding: 16px;
    }

    .collapsed-row {
        /*.tv-lightweight-charts{*/
        /*    width: 100%;*/
        /*}*/
        width: 100%;
        max-width: 100%;
        overflow: auto;
    }

    .double-list {
        gap: 0;

        .ant-divider.ant-divider-horizontal {
            margin: 8px 0;
            display: initial;
        }

        .ant-list {
            width: 100%;
        }
    }
}

.widget_header {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    background-color: rgba(var(--pro-widget-body-bg), 1);
    padding: 0 0 12px;
}

.widget_header + .pro-non-ideal-state {
    margin-top: -20px;
}

.loss {
    background-color: rgba(var(--table-loss-color), 0.2);
}

.profit {
    background-color: rgba(var(--table-profit-color), 0.2);
}

.ant-statistic .ant-statistic-title {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.ant-statistic .ant-statistic-content {
    margin-bottom: 0;
    line-height: 20px;
    font-size: inherit;
}

.ant-statistic-content-value {
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
}


.dark-theme .ant-input {
    background-color: rgba(var(--pro-input-bg), 1);
    color: rgba(var(--pro-input-color), 1);
    border: none;
    font-size: 13px;
    font-weight: 400;
    height: 32px;
    border-radius: 4px;
    padding: 0 8px;
}

.dark-theme .ant-picker {
    background-color: rgba(var(--pro-input-bg), 1);
    color: rgba(var(--pro-icon-color), 1);
    border: none;
    padding: 0 8px;
    height: 32px;
}

.dark-theme .ant-picker .ant-picker-suffix {
    background-color: rgba(var(--pro-input-bg), 1);
    color: rgba(var(--pro-icon-color), 1);
}

.dark-theme .ant-picker-dropdown .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end) .ant-picker-cell-inner {
    background-color: rgb(60, 84, 105);
}

.dark-theme .ant-picker .ant-picker-clear {
    background-color: rgba(var(--pro-input-bg), 1);
    color: rgba(var(--pro-icon-color), 1);
}

.dark-theme .ant-picker .ant-picker-input > input, .dark-theme .ant-picker .ant-picker-clear {
    color: rgba(var(--pro-icon-color), 1);
}

.ant-input:hover {
    background-color: rgba(var(--pro-divider-bg), 1);
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
    box-shadow: none;
}

.dark-theme .ant-input::placeholder {
    color: rgba(var(--pro-icon-color), 1);
}

.ant-drawer .ant-drawer-header {
    border-bottom-color: rgba(var(--pro-divider-bg), 1);
}

.ant-drawer .ant-drawer-title {
    color: rgba(var(--pro-text-02), 1);
}

.ant-drawer .ant-drawer-close {
    color: rgba(var(--pro-icon-color), 1);
}

.ant-divider-horizontal {
    border-block-color: rgba(var(--pro-divider-bg), 1);
    margin: 12px 0;
}

.ant-drawer .ant-drawer-header {
    padding: 8px 12px;
}

.ant-btn-primary {
    background-color: rgba(var(--pro-button-primary-bg), 1);
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    padding: 8px 12px;
    border: none;
    line-height: 16px;
}

.ant-input-affix-wrapper {
    padding: 0 8px;
    border: none;
    background-color: rgba(var(--pro-input-bg), 1);
    color: rgba(var(--pro-icon-color), 1);
}

.ant-input-affix-wrapper:hover {
    background-color: rgba(var(--pro-divider-bg), 1);
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: rgba(var(--pro-button-primary-hover-bg), 1);
}

.ant-drawer-content-wrapper {
    width: 320px !important;
}

.ant-drawer .ant-drawer-body {
    padding: 8px 12px;
}

.ant-form-item {
    margin-bottom: 0;
}

.ant-form-item + .ant-form-item {
    margin-top: 12px;
}

.ant-form-vertical .ant-form-item-label {
    margin-bottom: 4px;
    padding: 0;
}

.ant-form-item .ant-form-item-label > label {
    color: rgba(var(--pro-icon-color), 1);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.dark-theme .ant-drawer .ant-drawer-content {
    background-color: rgba(var(--pro-widget-body-bg), 1);
}

.dark-theme .ant-picker-dropdown .ant-picker-panel {
    background-color: rgb(36, 52, 66);
}

.dark-theme .ant-picker-dropdown .ant-picker-header {
    border-color: rgba(var(--pro-divider-bg), 1);
}

.dark-theme .ant-picker-dropdown .ant-picker-date-panel .ant-picker-content th {
    color: rgba(var(--pro-input-color), 1);
    font-weight: 600;
}

.dark-theme .ant-picker-dropdown .ant-picker-date-panel .ant-picker-body {
    padding: 4px;
}

.dark-theme .ant-picker-dropdown .ant-picker-date-panel {
    width: inherit;
}

.dark-theme .ant-picker-dropdown .ant-picker-cell.ant-picker-cell-in-view {
    color: rgba(var(--pro-input-color), 1);
}

.dark-theme .ant-picker-dropdown .ant-picker-cell {
    color: rgb(112, 139, 164);
}

.ant-picker-dropdown .ant-picker-header, .ant-picker-dropdown .ant-picker-header button {
    color: rgba(var(--pro-text-02), 1);
}

.ant-picker-dropdown .ant-picker-panel-container {
    box-shadow: none;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
    background-color: rgba(var(--pro-button-primary-bg), 1);
}

.ant-picker-focused {
    border: none;
    box-shadow: none;
}

.ant-table-wrapper .ant-table.ant-table-small .ant-table-title, .ant-table-wrapper .ant-table.ant-table-small .ant-table-footer, .ant-table-wrapper .ant-table.ant-table-small .ant-table-cell, .ant-table-wrapper .ant-table.ant-table-small .ant-table-thead > tr > th, .ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody > tr > th, .ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody > tr > td, .ant-table-wrapper .ant-table.ant-table-small tfoot > tr > th, .ant-table-wrapper .ant-table.ant-table-small tfoot > tr > td {
    /*padding: 4px;*/
    padding: 1px 8px;
    /*height: 26px;*/
}

.ant-layout-header {
    background-color: transparent;
    /*color: rgba(var(--pro-input-color),1);*/
    color: #000;
    padding: 0 24px;
}

.ant-table-wrapper .ant-table-thead > tr > th, .ant-table-wrapper .ant-table-thead > tr > td {
    text-align: center;
}

.ant-menu {
    background-color: transparent;
    color: #000;
    width: 100%;
}

.menu-content {
    width: 2000px;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
}

.body-content {
    padding: 24px;
    min-height: 380px;
    max-width: 2000px;
    margin: auto;
}

a, .link-color {
    color: rgb(98, 161, 255);
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected:hover, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark > .ant-menu.ant-menu-horizontal > .ant-menu-item-selected:hover, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu-selected:hover, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark > .ant-menu.ant-menu-horizontal > .ant-menu-submenu-selected:hover {
    background-color: transparent;
    font-weight: bold;
    color: #000;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark > .ant-menu.ant-menu-horizontal > .ant-menu-item-selected, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu-selected, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark > .ant-menu.ant-menu-horizontal > .ant-menu-submenu-selected {
    background-color: transparent;
    font-weight: bold;
    color: #000;
}

.dark-theme .ant-layout {
    background-color: rgba(var(--pro-app-background-color), 1);
    color: rgba(var(--pro-text-02), 1);


    .ant-statistic .ant-statistic-title {
        color: rgba(var(--pro-text-02), 1);
    }

    .ant-statistic .ant-statistic-content {
        color: rgba(var(--pro-input-color), 1);
    }

    .ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark > .ant-menu.ant-menu-horizontal > .ant-menu-item-selected, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu-selected, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark > .ant-menu.ant-menu-horizontal > .ant-menu-submenu-selected {
        font-weight: bold;
        color: rgba(var(--pro-input-color), 1);
    }

    .ant-statistic .ant-statistic-title {
        color: rgba(var(--pro-text-02), 1);
    }

    .ant-btn-icon {
        color: rgba(var(--pro-input-color), 1);
    }

    .ant-typography, div.ant-typography-h1, div.ant-typography-h1 > textarea, .ant-typography h1 {

        color: rgba(var(--pro-input-color), 1);
    }

    .ant-list .ant-list-item {

        color: rgba(var(--pro-icon-color), 1);
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
    }

    .ant-list .ant-list-item:first-child {
        padding: 0 0 8px 0;
    }

    .ant-list .ant-list-item:not(:first-child):not(:last-child) {
        padding: 8px 0;
    }

    .ant-list .ant-list-item:last-child {
        padding: 8px 0 0 0;
    }

    .ant-list .ant-list-item .ant-list-item-action > li {
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        padding: 0;
        display: inline-flex;
        align-items: center;
    }

    .ant-list .ant-list-item .ant-list-item-action {
        display: flex;
    }

    .ant-list .ant-list-item .ant-list-item-action > li + li:before {
        content: "";
        margin: 0 8px;
        width: 3px;
        height: 3px;
        border-radius: 1.5px;
        display: inline-block;
        vertical-align: middle;
        background-color: rgba(var(--pro-divider-bg), 1);
    }

    .ant-list .ant-list-item:not(:last-child) {
        border-bottom: 1px solid rgba(var(--pro-divider-bg), 1);
    }

    .ant-card-head-title {

        color: rgba(var(--pro-input-color), 1);
    }

    .ant-card {
        background-color: rgba(var(--pro-widget-body-bg), 1);
    }

    .ant-card-head {
        border: none;
        padding: 4px 16px 0;
        min-height: 0;
    }

    .ant-list .ant-list-item .ant-list-item-action > li {
        color: rgba(var(--pro-input-color), 1);
    }

    .ant-list {
        background-color: rgba(var(--pro-widget-body-bg), 1);
    }

    .ant-table, .ant-table-summary {
        background-color: rgba(var(--pro-widget-body-bg), 1);
    }

    .ant-table-wrapper .ant-table-tbody > tr > th, .ant-table-wrapper .ant-table-tbody > tr > td, .ant-table-wrapper .ant-table-summary > tr > td {
        border-bottom-color: rgba(var(--pro-app-background-color), 1);
        color: rgba(var(--pro-text-02), 1);

        &.loss {
            background-color: rgba(135, 32, 44, 0.4);
            color: rgba(var(--table-loss-color), 1);
        }

        &.profit {
            background-color: rgba(21, 120, 85, 0.4);
            color: rgba(var(--table-profit-color), 1);
        }
    }

    .ant-table-wrapper .ant-table-tbody .ant-table-row > .ant-table-cell-row-hover {
        background-color: rgba(var(--pro-input-color), 0.2);
    }

    .ant-table-wrapper .ant-table-tbody > tr > th, .ant-table-wrapper .ant-table-tbody > tr {
        color: initial;
        background-color: initial;

        &.loss td {
            background-color: rgba(135, 32, 44, 0.4);
            color: rgba(var(--table-loss-color), 1);
        }

        &.profit td {
            background-color: rgba(21, 120, 85, 0.4);
            color: rgba(var(--table-profit-color), 1);
        }
    }

    .ant-table-row-expand-icon {
        background-color: rgba(var(--pro-input-bg), 1);
        border-color: rgba(var(--pro-input-bg), 1);
    }

    .ant-table-wrapper .ant-table-thead > tr > th, .ant-table-wrapper .ant-table-thead > tr > td {
        background-color: rgb(36, 52, 66);
        border-bottom-color: rgba(var(--pro-app-background-color), 1);
        color: rgba(var(--pro-input-color), 1);
        font-size: 13px;
        line-height: 20px;
        height: 26px;
    }

    .ant-table-wrapper .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before, .ant-table-wrapper .ant-table-thead > tr > td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
        background-color: rgba(var(--pro-app-background-color), 1);
    }

    .ant-input-affix-wrapper {
        background-color: rgba(var(--pro-input-bg), 1);
        border-color: rgba(var(--pro-input-bg), 1);
    }

    .ant-input {
        background-color: rgba(var(--pro-input-bg), 1);
        border-color: rgba(var(--pro-input-bg), 1);
        color: rgba(var(--pro-input-color), 1);

        &::placeholder {
            color: rgba(var(--pro-icon-color), 1);

        }
    }

    .ant-select .ant-select-selection-placeholder {
        color: rgba(var(--pro-icon-color), 1);
    }

    .ant-select .ant-select-arrow {
        color: rgba(var(--pro-icon-color), 1);
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        background-color: rgba(var(--pro-input-bg), 1);
        border-color: rgba(var(--pro-input-bg), 1);
        color: rgba(var(--pro-input-color), 1);

        &::placeholder {
            color: rgba(var(--pro-icon-color), 1);

        }
    }

    .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow .ant-select-selection-placeholder {

        color: rgba(var(--pro-icon-color), 1);
    }

    .ant-switch.ant-switch-checked {
        background-color: rgba(var(--pro-input-bg), 1);
    }

    .ant-switch .ant-switch-handle::before {
        background-color: rgba(var(--pro-input-color), 1);
    }

    .ant-layout-footer {
        background-color: rgba(var(--pro-widget-body-bg), 1);
        color: rgba(var(--pro-input-color), 1);
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid rgba(var(--pro-base-03), 1);
        padding: 0;
    }

    .ant-layout-header {
        background-color: rgba(var(--pro-widget-body-bg), 1);
        color: rgba(var(--pro-input-color), 1);
        height: 32px;
        border-bottom: 1px solid rgba(var(--pro-base-03), 1);
        box-sizing: content-box;
    }

    .ant-menu {
        background-color: rgba(var(--pro-widget-body-bg), 1);
        color: rgba(var(--pro-input-color), 1);
        height: inherit;
    }

    .ant-menu-item {
        display: flex;
        align-items: center;
    }

    .ant-select .ant-select-clear {
        background-color: transparent;
    }
}

.pro-non-ideal-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    text-align: center;
    color: rgba(var(--pro-non-ideal-state-color), 1);
}

.pro-spinner {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: visible;
    vertical-align: middle;
}

.pro-spinner-animation {
    animation: pt-spinner-animation .5s linear infinite;
}

.pro-spinner .pro-spinner-track {
    stroke: rgba(var(--pro-progress-track-color), 1);
}

.pro-spinner .pro-spinner-head {
    stroke: rgba(var(--pro-progress-head-color), 1);
    stroke-linecap: round;
    transform-origin: center;
    transition: stroke-dashoffset .2s cubic-bezier(.4, 1, .75, .9);
}

.pro-spinner path {
    fill-opacity: 0;
}

@keyframes pt-spinner-animation {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.dark-theme .ant-select-dropdown {
    background-color: rgba(var(--pro-widget-body-bg), 1);
    color: rgba(var(--pro-input-color), 1);

    .ant-select-item {
        color: rgba(var(--pro-input-color), 1);
    }

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background-color: rgba(var(--pro-input-color), 0.2);
    }
}

.order-book-body {
    display: grid;
    grid-template-columns: auto auto auto;
}

.cluster {
    border: rgba(var(--pro-input-bg), 1) solid 1px;
    border-top: none;
    border-left: none;
    color: rgba(var(--pro-icon-color), 1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    padding-left: 3px;
    min-width: 40px;
    text-align: left;;
}

#orders-panel .table-row .percent {
    display: none;
    cursor: pointer;
}

#orders-panel .table-row:hover .percent {
    display: initial;
}

.position-price {
    color: rgba(var(--pro-icon-color), 1);
}

.ant-typography {
    color: rgba(var(--pro-icon-color), 1);
}

.AccountCard {
    margin-top: 12px;
    background-color: rgba(var(--pro-widget-body-bg), 1);
    border-color: rgba(var(--pro-divider-bg), 1);
    cursor: pointer;

    &.selected {
        background-color: rgba(var(--pro-input-bg), 1);
    }

    &:hover {
        background-color: rgba(var(--pro-input-bg), 1);
    }

    .ant-card-head {
        padding: 8px 8px 0;
        min-height: 0;
        border: none;
        color: rgba(var(--pro-text-02), 1);
    }

    .ant-card-body {
        padding: 0 8px 8px;
        color: rgba(var(--pro-icon-color), 1);
    }
}

.MonthRenderTitle {
    color: rgba(var(--pro-input-color), 1);
    font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.MonthRenderCard {
    .ant-card-head {
        padding: 8px 12px !important;
        background-color: rgb(36, 52, 66);
        border-bottom-color: rgba(var(--pro-app-background-color), 1);
        color: rgba(var(--pro-input-color), 1);
        font-size: 16px;
        line-height: 20px;
    }

    &.profit .ant-card-head{
        border-top: 1px solid rgba(var(--table-profit-color), 1);
    }

    &.loss .ant-card-head{
        border-top: 1px solid rgba(var(--table-loss-color), 1);
    }

    .ant-card-body {
        padding: 8px 12px 12px;
    }

    .ant-descriptions .ant-descriptions-row > th {
        padding-bottom: 0px;
    }

    .ant-descriptions .ant-descriptions-row > td {
        padding-bottom: 0;
    }

    .ant-descriptions .ant-descriptions-item-label {
        color: rgba(var(--pro-icon-color), 1);
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
    }

    .ant-descriptions .ant-descriptions-item-container .ant-descriptions-item-content {
        color: rgba(var(--pro-input-color), 1);
        border: none;
        font-size: 13px;
        font-weight: 400;
    }
}

.MonthRenderTimeline {
    margin-top: 24px;

    .ant-row + .ant-row {
        margin-top: 16px;
    }
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled), .ant-radio-button-wrapper{
    background-color: rgba(var(--pro-input-bg), 1);
    border: none;
    color: rgba(var(--pro-input-color), 1);
}

.ant-radio-button-wrapper{
    color: rgba(var(--pro-icon-color), 0.5);
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    color: rgba(var(--pro-input-color), 1);
}

.ant-radio-button-wrapper:first-child{
    border: none;
}

.ant-radio-button-wrapper:not(:first-child)::before{
    background: transparent;
}

.ant-timeline .ant-timeline-item-tail {
    border-inline-start: 2px solid rgba(var(--pro-input-color), 0.2);
}

html .table-col:not(:first-child) .table-row {
    border-left: none
}

html .table-col .table-row {
    box-sizing: border-box;
    border: rgba(var(--pro-input-bg), 1) 1px solid
}

html .table-col .table-row.hovered {
    background-color: #1890ff26
}

html .table-col .table-row:not(:first-child) {
    border-top: none
}

html .table-col .table-row .table-cell {
    padding-right: 3px
}

html .table-col .table-row .table-cell.trade-item.ask-side-item {
    background-color: #fa4f3826
}

html .table-col .table-row .table-cell.trade-item.ask-side-item.best-row {
    background-color: #fa4f3880
}

html .table-col .table-row .table-cell.trade-item.bid-side-item {
    background-color: #00db8b26
}

html .table-col .table-row .table-cell.trade-item.bid-side-item.best-row {
    background-color: #00db8b80
}

html .table-col .table-row .table-cell.spread-item {
    background-color: #00000012
}

html .table-cell.current-position-range-item {
    border-right: #d9d9d9 3px solid
}

html .table-cell.current-position-range-item.positive {
    border-right-color: #388e3c
}

html .table-cell.current-position-range-item.negative {
    border-right-color: #fa4f38
}

html #orders-panel .table-cell {
    width: 100%;
    height: 100%
}

html #orders-panel .table-cell .orders-indicator.bid {
    color: #008040
}

html #orders-panel .table-cell .orders-indicator.ask {
    color: #e53119
}

html #orders-panel .table-cell .orders-indicator.multiple:after {
    content: "*"
}

html #orders-panel .table-cell .orders-indicator:hover {
    text-decoration: line-through
}

html.dark .table-col:not(:first-child) .table-row {
    border-left: none
}

html.dark .table-col .table-row {
    box-sizing: border-box;
    border: #272E3B 1px solid
}

html.dark .table-col .table-row.hovered {
    background-color: #1890ff26
}

html.dark .table-col .table-row:not(:first-child) {
    border-top: none
}

html.dark .table-col .table-row .table-cell {
    padding-right: 3px
}

html.dark .table-col .table-row .table-cell.trade-item.ask-side-item {
    background-color: #d1261b26
}

html.dark .table-col .table-row .table-cell.trade-item.ask-side-item.best-row {
    background-color: #d1261b80
}

html.dark .table-col .table-row .table-cell.trade-item.bid-side-item {
    background-color: #009b6326
}

html.dark .table-col .table-row .table-cell.trade-item.bid-side-item.best-row {
    background-color: #009b6380
}

html.dark .table-col .table-row .table-cell.spread-item {
    background-color: #ffffff12
}

html.dark .table-cell.current-position-range-item {
    border-right: #272E3B 3px solid
}

html.dark .table-cell.current-position-range-item.positive {
    border-right-color: #009b63
}

html.dark .table-cell.current-position-range-item.negative {
    border-right-color: #d1261b
}

html.dark #orders-panel .table-cell {
    width: 100%;
    height: 100%
}

html.dark #orders-panel .table-cell .orders-indicator.bid {
    color: #13db92
}

html.dark #orders-panel .table-cell .orders-indicator.ask {
    color: #ff4500
}

html.dark #orders-panel .table-cell .orders-indicator.multiple:after {
    content: "*"
}

html.dark #orders-panel .table-cell .orders-indicator:hover {
    text-decoration: line-through
}

#table-body-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap
}

#table-body-container > div {
    flex: 1
}

#table-body-container #volume-panel .table-cell {
    text-align: right
}

#table-body-container #price-panel .table-cell {
    padding-left: 3px;
    text-align: right
}

#table-body-container #orders-panel .table-row .table-cell {
    display: flex;
    justify-content: flex-end
}

#table-body-container #orders-panel .table-row .table-cell .orders-indicator {
    padding-left: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none
}

#table-body-container #orders-panel .table-row .table-cell:not(.best-row) {
    background-color: transparent
}

html .container {
    color: #31363f
}

html .container > div {
    border: rgba(var(--pro-input-bg), 1) solid 1px;
    border-radius: 2px
}

html .container > div.qty.positive, html .container > div.loss-or-profit.positive {
    background-color: #00db8bb3
}

html .container > div.qty.negative, html .container > div.loss-or-profit.negative {
    background-color: #fa4f38b3
}

html.dark .container {
    color: #e2e5e9
}

html.dark .container > div {
    border: #272E3B solid 1px;
    border-radius: 2px
}

html.dark .container > div.qty.positive, html.dark .container > div.loss-or-profit.positive {
    background-color: #009b63b3
}

html.dark .container > div.qty.negative, html.dark .container > div.loss-or-profit.negative {
    background-color: #d1261bb3
}

{
    width: 100%
}
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1px;
}

.container > div {
    flex: 1;
    width: 100%;
    text-align: center;
    font-size: larger;
    cursor: default
}