body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ticker_logo{
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*color: rgba(var(--pro-icons-marker-2),1);*/
    /*background-color: rgba(var(--pro-icons-marker-1),1);*/
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0;
}

.ticker-info {
    display: flex;
    padding: 4px 16px;
    min-width: 320px;
    justify-content: space-between;
}

.ticker-info:first-child{
    padding: 0 16px 4px;
}

.ticker-info:last-child{
    padding: 4px 16px 0;
}

.ticker_name{

}

.ticker_actions{
    /*line-height: 20px;*/
    /*font-weight: 500;*/
    /*color: rgba(179,199,219,1);*/
    /*font-size: 13px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    text-align: right;
}

.ticker_name_title{
    line-height: 20px;
    font-weight: 500;
    color: rgba(179,199,219,1);
    font-size: 13px;
}

.ticker_name_description{
    color: rgb(140,167,190);
    font-size: 12px;
    line-height: 1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.widget{
    margin: 1px;
    border-radius: 4px;
    overflow: hidden;
    background-color: rgb(30,44,57);
}

@media only screen and (max-width: 700px) {
    .widget{
        width: 100%;
    }
}

.widget_header{
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    background-color: rgb(30,44,57);
    padding: 6px 16px 12px;
}

.loss {
    background-color: rgba(255, 117, 132, 0.2);
}

.profit {
    background-color: rgba(44, 232, 156, 0.2);
}

.ant-statistic .ant-statistic-title{
    margin-bottom: 0;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.ant-statistic .ant-statistic-content{
    margin-bottom: 0;
    line-height: 20px;
    font-size: inherit;
}

.ant-statistic-content-value{
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
}

.ant-table-wrapper .ant-table.ant-table-small .ant-table-title, .ant-table-wrapper .ant-table.ant-table-small .ant-table-footer, .ant-table-wrapper .ant-table.ant-table-small .ant-table-cell, .ant-table-wrapper .ant-table.ant-table-small .ant-table-thead > tr > th, .ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody > tr > th, .ant-table-wrapper .ant-table.ant-table-small .ant-table-tbody > tr > td, .ant-table-wrapper .ant-table.ant-table-small tfoot > tr > th, .ant-table-wrapper .ant-table.ant-table-small tfoot > tr > td {
    /*padding: 4px;*/
    padding: 1px 8px;
    /*height: 26px;*/
}
.ant-layout-header{
    background-color: transparent;
    /*color: rgb(179,199,219);*/
    color: #000;
    padding: 0 24px;
}

.ant-table-wrapper .ant-table-thead >tr>th, .ant-table-wrapper .ant-table-thead >tr>td{
    text-align: center;
}

.ant-menu{
    background-color: transparent;
    color: #000;
    width: 100%;
}

.menu-content{
    width: 2000px;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-content{
    padding: 24px;
    min-height: 380px;
    max-width: 2000px;
    margin: auto;
}

a, .link-color {
    color: rgb(98,161,255);
}

.ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected:hover, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected:hover, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark.ant-menu-horizontal >.ant-menu-submenu-selected:hover, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected:hover{
    background-color: transparent;
    font-weight: bold;
    color: #000;
}

.ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark.ant-menu-horizontal >.ant-menu-submenu-selected, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected{
    background-color: transparent;
    font-weight: bold;
    color: #000;
}

.dark-theme .ant-layout {
    background-color: rgb(23,35,46);
    color: rgb(166,189,213);


.ant-statistic .ant-statistic-title{
    color: rgb(166,189,213);
}

.ant-statistic .ant-statistic-content{
    color: rgb(179,199,219);
}

    .ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark.ant-menu-horizontal >.ant-menu-submenu-selected, :where(.css-dev-only-do-not-override-pr0fja).ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected{
font-weight: bold;
        color: rgb(179,199,219);
    }

    .ant-statistic .ant-statistic-title{
        color: rgb(166,189,213);
    }

    .ant-btn-icon{
        color: rgb(179,199,219);
    }

    .ant-typography, div.ant-typography-h1, div.ant-typography-h1>textarea, .ant-typography h1{

        color: rgb(179,199,219);
    }

    .ant-list .ant-list-item{

        color: rgb(140,167,190);
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
    }
.ant-list .ant-list-item:first-child{
    padding: 0 0 8px 0;
}

.ant-list .ant-list-item:not(:first-child):not(:last-child){
    padding: 8px 0;
}
.ant-list .ant-list-item:last-child{
    padding: 8px 0 0 0;
}

.ant-list .ant-list-item .ant-list-item-action>li{
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    padding: 0;
    display: inline-flex;
    align-items: center;
}
.ant-list .ant-list-item .ant-list-item-action {
    display: flex;
}

.ant-list .ant-list-item .ant-list-item-action>li:last-child:before {
    content: "";
    margin: 0 8px;
    width: 3px;
    height: 3px;
    border-radius: 1.5px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(51,70,87,1);
}

.ant-list .ant-list-item:not(:last-child){
    border-bottom: 1px solid rgb(51,70,87);
}

    .ant-card-head-title{

        color: rgb(179,199,219);
    }

    .ant-card{
        background-color: rgb(30,44,57);
    }

    .ant-card-head {
        border: none;
        padding: 4px 16px 0;
        min-height: 0;
    }

    .ant-list .ant-list-item .ant-list-item-action > li{
        color: rgb(179,199,219);
    }

    .ant-list{
        background-color: rgb(30,44,57);
        padding: 0px 16px 16px;
    }

    .ant-table, .ant-table-summary {
        background-color: rgb(30,44,57);
    }

    .ant-table-wrapper .ant-table-tbody >tr >th, .ant-table-wrapper .ant-table-tbody >tr >td, .ant-table-wrapper .ant-table-summary >tr >td{
        border-bottom-color: rgb(23,35,46);
        color: rgb(166,189,213);

        &.loss {
            background-color: rgba(135,32,44, 0.4);
            color: rgb( 255,117,132)
        }

        &.profit {
            background-color: rgba(21,120,85, 0.4);
            color: rgb(44,232,156)
        }
    }

    .ant-table-wrapper .ant-table-tbody .ant-table-row >.ant-table-cell-row-hover {
        background-color: rgba(179,199,219, 0.2);
    }

    .ant-table-wrapper .ant-table-tbody >tr >th, .ant-table-wrapper .ant-table-tbody >tr {
        color: initial;
        background-color: initial;
        &.loss td{
            background-color: rgba(135,32,44, 0.4);
            color: rgb( 255,117,132)
        }

        &.profit td{
            background-color: rgba(21,120,85, 0.4);
            color: rgb(44,232,156)
        }
    }

    .ant-table-row-expand-icon {
        background-color: rgb(44,60,75);
        border-color: rgb(44,60,75);
    }

    .ant-table-wrapper .ant-table-thead >tr>th, .ant-table-wrapper .ant-table-thead >tr>td{
        background-color: rgb(36,52,66);
        border-bottom-color: rgb(23,35,46);
        color: rgb(179,199,219);
        font-size: 13px;
        line-height: 20px;
        height: 26px;
    }

    .ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before, .ant-table-wrapper .ant-table-thead >tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
        background-color: rgb(23,35,46);
    }

    .ant-input-affix-wrapper{
        background-color: rgb(44,60,75);
        border-color: rgb(44,60,75);
    }

    .ant-input{
        background-color: rgb(44,60,75);
        border-color: rgb(44,60,75);
        color: rgb(179,199,219);

        &::placeholder{
            color: rgb(140,167,190);

        }
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector{
        background-color: rgb(44,60,75);
        border-color: rgb(44,60,75);
        color: rgb(179,199,219);

        &::placeholder{
            color: rgb(140,167,190);

        }
    }

    .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-sm:not(.ant-select-customize-input).ant-select-show-arrow .ant-select-selection-placeholder{

        color: rgb(140,167,190);
    }

    .ant-switch.ant-switch-checked{
        background-color: rgb(44,60,75);
    }

    .ant-switch .ant-switch-handle::before{
        background-color: rgb(179,199,219);
    }

    .ant-layout-footer{
        background-color: rgb(30,44,57);
        color: rgb(179,199,219);
    }
    .ant-layout-header{
        background-color: rgb(30,44,57);
        color: rgb(179,199,219);
    }
    .ant-menu{
        background-color: rgb(30,44,57);
        color: rgb(179,199,219);
    }
    .ant-select .ant-select-clear{
        background-color: transparent;
    }
}

.dark-theme .ant-select-dropdown{
    background-color: rgb(30,44,57);
    color: rgb(179,199,219);

     .ant-select-item{
        color: rgb(179,199,219);
    }

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled){
        background-color: rgba(179,199,219, 0.2);
    }
}

.order-book-body {
    display: grid;
    grid-template-columns: auto auto auto;
}

.cluster{
    border:rgb(44,60,75) solid 1px;
    border-top: none;
    border-left: none;
    color: rgb(140,167,190);
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    padding-left: 3px;
    min-width: 40px;
    text-align: left;
;
}

#orders-panel .table-row .percent{
    display: none;
    cursor: pointer;
}

#orders-panel .table-row:hover .percent{
    display: initial;
}

.position-price{
    color: rgb(140,167,190);
}

html      .table-col:not(:first-child)   .table-row{border-left:none}html      .table-col   .table-row{box-sizing:border-box;border:rgb(44,60,75) 1px solid}html      .table-col   .table-row.hovered{background-color:#1890ff26}html      .table-col   .table-row:not(:first-child){border-top:none}html      .table-col   .table-row   .table-cell{padding-right:3px}html      .table-col   .table-row   .table-cell.trade-item.ask-side-item{background-color:#fa4f3826}html      .table-col   .table-row   .table-cell.trade-item.ask-side-item.best-row{background-color:#fa4f3880}html      .table-col   .table-row   .table-cell.trade-item.bid-side-item{background-color:#00db8b26}html      .table-col   .table-row   .table-cell.trade-item.bid-side-item.best-row{background-color:#00db8b80}html      .table-col   .table-row   .table-cell.spread-item{background-color:#00000012}html      .table-cell.current-position-range-item{border-right:#d9d9d9 3px solid}html      .table-cell.current-position-range-item.positive{border-right-color:#388e3c}html      .table-cell.current-position-range-item.negative{border-right-color:#fa4f38}html      #orders-panel   .table-cell{width:100%;height:100%}html      #orders-panel   .table-cell   .orders-indicator.bid{color:#008040}html      #orders-panel   .table-cell   .orders-indicator.ask{color:#e53119}html      #orders-panel   .table-cell   .orders-indicator.multiple:after{content:"*"}html      #orders-panel   .table-cell   .orders-indicator:hover{text-decoration:line-through}html.dark      .table-col:not(:first-child)   .table-row{border-left:none}html.dark      .table-col   .table-row{box-sizing:border-box;border:#272E3B 1px solid}html.dark      .table-col   .table-row.hovered{background-color:#1890ff26}html.dark      .table-col   .table-row:not(:first-child){border-top:none}html.dark      .table-col   .table-row   .table-cell{padding-right:3px}html.dark      .table-col   .table-row   .table-cell.trade-item.ask-side-item{background-color:#d1261b26}html.dark      .table-col   .table-row   .table-cell.trade-item.ask-side-item.best-row{background-color:#d1261b80}html.dark      .table-col   .table-row   .table-cell.trade-item.bid-side-item{background-color:#009b6326}html.dark      .table-col   .table-row   .table-cell.trade-item.bid-side-item.best-row{background-color:#009b6380}html.dark      .table-col   .table-row   .table-cell.spread-item{background-color:#ffffff12}html.dark      .table-cell.current-position-range-item{border-right:#272E3B 3px solid}html.dark      .table-cell.current-position-range-item.positive{border-right-color:#009b63}html.dark      .table-cell.current-position-range-item.negative{border-right-color:#d1261b}html.dark      #orders-panel   .table-cell{width:100%;height:100%}html.dark      #orders-panel   .table-cell   .orders-indicator.bid{color:#13db92}html.dark      #orders-panel   .table-cell   .orders-indicator.ask{color:#ff4500}html.dark      #orders-panel   .table-cell   .orders-indicator.multiple:after{content:"*"}html.dark      #orders-panel   .table-cell   .orders-indicator:hover{text-decoration:line-through}#table-body-container{display:flex;flex-direction:row;flex-wrap:nowrap}#table-body-container > div{flex:1}#table-body-container   #volume-panel   .table-cell{text-align:right}#table-body-container   #price-panel   .table-cell{padding-left:3px;text-align:right}#table-body-container   #orders-panel   .table-row   .table-cell{display:flex;justify-content:flex-end}#table-body-container   #orders-panel   .table-row   .table-cell   .orders-indicator{padding-left:3px;cursor:pointer;-webkit-user-select:none;user-select:none}#table-body-container   #orders-panel   .table-row   .table-cell:not(.best-row){background-color:transparent}

html      .container{color:#31363f}html      .container > div{border:rgb(44,60,75) solid 1px;border-radius:2px}html      .container > div.qty.positive, html      .container > div.loss-or-profit.positive{background-color:#00db8bb3}html      .container > div.qty.negative, html      .container > div.loss-or-profit.negative{background-color:#fa4f38b3}html.dark      .container{color:#e2e5e9}html.dark      .container > div{border:#272E3B solid 1px;border-radius:2px}html.dark      .container > div.qty.positive, html.dark      .container > div.loss-or-profit.positive{background-color:#009b63b3}html.dark      .container > div.qty.negative, html.dark      .container > div.loss-or-profit.negative{background-color:#d1261bb3}{width:100%}.container{width:100%;display:flex;flex-direction:row;flex-wrap:nowrap;gap:1px;}.container > div{flex:1;width:100%;text-align:center;font-size:larger;cursor:default}